@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: rgb(235, 235, 235);
}

main {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1em 0;
}

h1 {
    margin: 1em 0;
    color: rgb(26, 26, 26);
}

section {
    background-color: rgb(235, 235, 235);
    border: 2px solid rgba(26, 26, 26, 0.363);
    width: 100%;
    
    border-radius: .8em;
    margin: .5em;
    color: rgb(26, 26, 26);
    transition: .5s;
}
    span {   
        border-radius: .8em;
        padding: 2em 1.5em;
        display: block;
    }

section h2 {
    font-weight: bold;
    font-size: 1.3em;
}

section div:nth-child(1) {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div:nth-child(2) {
    margin-top: 3em;
}

section div button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    background-image: url(icons/chevron-down.svg);
    background-size: contain;
    
}



.nonvisible {
    display: none;
}

span.sec-visible {
    background-color: rgba(235, 235, 235, 0.925);
}
section.sec-visible {
    background-image: url("images/chat-bg.png");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    transition: .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205);
}

button.sec-visible {
    background-image: url(icons/x-circle.svg);
}


section div button img {
    width: 100%;
}
